* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	align-items: center;
	background-color: #FFF;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#grad1 {
    height: 500px;
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, grey); /* Standard syntax (must be last) */
}

div.container {		
	display: flex;
	flex-direction: column;
	min-height: 700px;	
	width: inherit;
}

div.headers {	
	background: url('../images/bgimage.jpg');
	color:black;
	
}

#footer {		
	clear:both;
	color:black;
}

h1{
	color:black;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 20px Arial, Helvetica, sans-serif;	    
}
h2 {
	color:black;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 25px Arial, Helvetica, sans-serif;	
    text-align: center;
}